.login{
    width: 100%;
    min-height: 100%;
    background-image: url(/images/bg.jpg);
    background-repeat: repeat-y;
    background-position: center;
    .cont{
    background-image: url(/images/loginbg.jpg);
    background-repeat:no-repeat;
    background-position: right 89px;
    }
    .cc{
        width: 1600px;
    }
}